body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
@media (min-width: 900px) {
    div.content { width: 80%; margin-left: 10%;}
}
@media (max-width: 899px) {
    div.content { width: 100%; margin-left: 0%;}
}
ul.bio li { list-style-type: none;}
div.right {
    float: right;
    clear: both;
}
div.nav {
    float: right;
    margin: 5px 0px;
}
div.nav ul {
    margin: 0px;
    padding: 0px;
    letter-spacing: -0.31em;
}
div.nav ul li {
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: normal;
}
div.nav ul li:before {
    content: '| ';
    color: #AAA;
}
div.highlight {
    color: red;
    font-weight: bold;
}
span.u { text-decoration: underline;}
span.red { color: red;}
.code {
    border: 1px solid #AEBDCC;
    background-color: #F3F5F7;
    padding: 5pt;
    font-family: courier, monospace;
    white-space: pre-line;
}

#layout-content{
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 0px;
    width: 1000px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family:  "Arial"; */
    text-align: left;
    }

h2{
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: "Arial";*/
    text-align: left;}    
    
p {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: "Arial";*/
    font-size: 16px;
}
p.line {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

ul {
    line-height: 0em;
}

.contents {align: left;}